<div class='container-fluid' id="header">
    <div class="row align-items-center">
        <button class="navbar" ng-click="isHidden = !isHidden">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <span class="headLogo">Intercom Expansion</span>
        <button class="navbar right">
            <a href="#!/home"><i class="fa fa-home fa-lg" aria-hidden="true"></i>
            <a href="#!/settings"><i class="fa fa-cog fa-lg" aria-hidden="true"></i></a>
            </i></a>
        </button>
    </div>
</div>

<ul class="list-group nav" ng-show="isHidden">
    <li class="list-group-item nav"> <a href="#!/addticket" ng-click="isHidden = !isHidden">Add a Ticket</a></li>
    <li class="list-group-item nav"> <a href="#!/userid" ng-click="isHidden = !isHidden">Send a Message</a></li>
    <li class="list-group-item nav"> <a href="#!/conversations" ng-click="isHidden = !isHidden">Convesation List</a></li>
    <li class="list-group-item nav"> <a href="#!/company" ng-click="isHidden = !isHidden">Review a Company</a></li>
</ul>