<div class="container">

    <h2> HOME </h2>


    <label for="getid">Search for a User</label>
    <input class="form-control" id="searchbarmain" ng-model="search" type="text" />

    <div class="loader" ng-show="loading">
            <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>      
    </div>



    <ul class="main list-group">
        <li class="main list-group-item" ng-repeat="user in users | filter: search" value={{user.user_id}} ng-click="userExpand(user.user_id)">
            <h3>{{ user.name }}</h3>
            <ul>
                <li class="sub"><strong>Email:</strong> {{ user.email }}</li>
                <li class="sub"><strong>User ID:</strong> {{user.user_id }} </li>
                <li class="sub"><strong>Location:</strong> {{ user.location_data.city_name || 'N/A' }}, {{ user.location_data.region_name || 'N/A'}} </li>
            </ul>
        </li>
    </ul>

</div>