<div class="container-fluid">

    <!-- <h2>Send a Message</h2> -->

    <form class="form" id="sendMessageForm" ng-submit="sendMess($event)">
        <h3>Send a Direct Message to a User</h3>
        <br/>
        <label for="getid">To (UserID):</label>
        <input class="form-control col-md-6" id="getid" value="5447b5120fe95add578366a0" type="text" />
        <label for="from">From (Admin):</label>
        <select class="custom-select col-md-5" id="from">
            <option ng-repeat="admin in admins" value="{{admin.id}}">
                {{admin.name}}
            </option>
        </select><br/>
        <label for="message">Message:</label>
        <textarea class="form-control" id="message" type="text"></textarea>
        <button type="submit" class="btn btn-secondary">Send Message</button>
        <div class="userIdMain" ng-show="completed">
            <p id="sendResponse"><strong style="color: red;">Wait!</strong> Your Access Token is Invalid</p>
        </div>
    </form>

<!-- 
    <div class="userIdMain" ng-show="completed">
        <p id="sendResponse"><strong style="color: red;">Wait!</strong> Your Access Token is Invalid</p>
    </div> -->

</div>