<div id="settings" class="container">
    <i class="blue fa fa-cog fa-2x""></i> <h3 class="inline-block" >Settings</h3>

    <form class="tokenForm form-inline">
        <label class="sr-only" for="token">
            <strong>Your Token Here:</strong>
        </label>
        <input class="form-control" id="token" type="text" placeholder="Your Token Here" />
        <button type="submit" class="btn btn-primary">Save</button>
    </form>

    <button class="btn btn-danger">
        <a href="#!/home">Back</a>
    </button>
</div>