/* GENERAL STYLES */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.inline-block {
    display: inline-block;
}

button {
    cursor: pointer;
}

body {
    font-family: proxima_novalight,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #e4e4e4;
}

h1, h2 {
    color: white;
}

strong {
    color: #24d7e0;
}.tokenForm strong {
    color: black;
}

:focus {
    border-color: #24d7e0;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(36,215,224,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(36,215,224,.6);
}

.btn-primary {
    background-color: #2f4357;
    border-color: #2f4357;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: rgba(47, 67, 87, 0.9);
    border-color: #2f4357;
}
a {
    color: white;
}
a:hover {
    color: #24d7e0;
    text-decoration: none;
}a:focus {
    color: #24d7e0;
    text-decoration: none;
    box-shadow: none;
}

/* SPECIFIC STYLES */

/* == LOADER */


.loader {
    text-align: center;
    margin-top: 18%;
    color: #24d7e0;
}

/* == LIST MAIN GROUP == */
li.main.list-group-item {
    padding: 5px 15px;
    display: block;
    opacity: 1;
    border: 1px solid white;
    cursor: pointer;
    border: 3px solid #e4e4e4;
    border-radius: 5px;
}

li.main.list-group-item:hover {
    background: rgba(48, 68, 88, 0.81);
}

.green {
    color: green;
}.red {
    color: red;
}

.successjson {
    color: #2f4357;
}

li.list-group-item.userlink:hover {
    background: #24d6df;
    transition: 400ms ease;
}.userlink:hover strong {
    color: white;
}

/* == CONVERSATION PAGE == */

/* Loader */
#loadConvs {
    position: absolute;
    z-index: 100;
    text-align: center;
    height: 100%;
    width: 100%;
    top: 0px;
    background: rgba(0, 0, 0, 0.59);
    color: white;
    display: flex;
    align-items: center;
}#loadConvs div {
    margin-left: auto;
    margin-right: auto;
}#cyanLoad {
    color: #24d6df;
}

.convos td {
    padding: 2px 5px;
    font-size: 13px;
    border: 2px solid #e4e4e4;
    color: #2f4357;
}.convos th {
    text-align: left;
    color: #2f4357;
    font-size: 13px;
    padding-bottom: 10px;
    text-transform: uppercase;
    padding-right: 5px;
    cursor: pointer;
}.convos th:hover {
    opacity: .7;
}.convos {
    width: 100%;
    margin-top: 20px;
}.convos td:first-of-type {
    border-radius: 8px 0px 0px 8px;
}.convos td:last-of-type {
    border-radius: 0px 8px 8px 0px;
}

.currentConversations {
    font-size: 10px;
    padding: 0;
    color: black;
    font-weight: bold;
    text-align: center;
    margin: 10px 0px;
}

#timeTable {
    margin-top: 12px;
    display: inline-block;
}#searchConvs {
    display: inline-block;
    margin-top: 12px;
}



/* == MODAL STYLES == */

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.63);
}.modalContent {
    background: #2f4357;
    padding: 10px 20px 20px 20px;
    border-radius: 8px;
    width: 70%;
    border: 1px solid #24d7e0;
    box-shadow: 0px 0px 8px #24d7e0;
    opacity: 0;
    animation: fadeInBlock 700ms ease forwards;
}.mod {
    color: white;
    text-align: center;
}.modalContent img {
    height: 70px;
    width: 70px;
    border-radius: 100%;
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-bottom: 10px;
    transition: 500ms ease;
    border: 2px solid #fff;
}.modalContent img:hover {
    opacity: .7;
    transition: 500ms ease;
}.listhead {
    border-bottom: 1px solid rgba(255, 255, 255, 0.65);;
}.modload {
    position: fixed;
    z-index: 2000;
    color: #24d6df;
}.modalContent li.list-group-item {
    padding: 0.25rem;
}

/*== HEADER STYLES ==*/
#title {
    text-align: center;
}

#header {
    background-color: #2f4357;
    color: white;
    height: 100%;
}#header li {
    list-style: none;
}header {
    box-shadow: 0px 0px 4px black;
    padding: 15px 0;
    background-color: #2f4357;
    height: auto;
    margin-bottom: 20px;
}

.headRight {
    text-align: right;
}
.row.align-items-center {
    height: 100%;
}
.navbar span.icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #fff;
    margin-top: 4px;
}.navbar:hover span {
    background-color: #24d7e0;
}.navbar {
    background-color: #2f4357;
    border: none;
}.navbar a {
    margin: 5px;
}button.navbar:focus {
    border: none;
    outline: none;
    box-shadow: none;
}span.headLogo:hover {
    opacity: .7;
    cursor: default;
}i.fa.fa-cog {
    color: white;
}i.fa.fa-cog:hover {
    color: #24d7e0;
}i.blue.fa.fa-cog {
    color: #2f4357;
}i.blue.fa.fa-cog:hover {
    color: #24d7e0;
}.fa-times-circle{
    color: white;
    cursor: pointer;
}.fa-times-circle:hover {
    color: #24d7e0;
}button.navbar.right {
    margin-left: auto;
    display: inline-block;
}li.list-group-item {
    background-color: #2f4357;
    color: white;
    padding: 0.55rem 1.25rem;
    border: none;
}

main h2 {
    color: #2f4357;
}

.tokenForm {
    margin: 20px 0;
}
input {
    margin-right: 3px;
    margin-bottom: 5px;
}
.userIdMain {
    margin-top: 40px;
}

#getid {
    margin-bottom: 5px;
}

#searchbarmain {
    margin-bottom: 20px;
}
li.sub {
    list-style-type: none;
}


/* ANIMATIONS */ 

.modal.ng-hide {
    transform: translateY(-50px);
}

.list-group.nav.ng-hide:not(.ng-hide-animate) {
    height: 0;
    transition: height 250ms ease;
    visibility: hidden;
    display: flex !important;
}

.list-group.nav.ng-hide:not(.ng-hide-animate) a {
    opacity: 0;
}

.list-group.nav.ng-hide:not(.ng-hide-animate) li {
    display: none;
}

ul.list-group.nav {
    height: 150px;
    transition: height 250ms ease-in-out;
}

ul.list-group.nav a {
    font-size: inherit;
    opacity: 1;
}

li.list-group-item.nav {
    opacity: 0;
}

li.list-group-item.nav:nth-child(1) {
    animation: fadeInBlock 250ms ease 180ms forwards;
}

li.list-group-item.nav:nth-child(2) {
    animation: fadeInBlock 250ms ease 210ms forwards;
}

li.list-group-item.nav:nth-child(3) {
    animation: fadeInBlock 250ms ease 240ms forwards;
}

li.list-group-item.nav:nth-child(4) {
    animation: fadeInBlock 250ms ease 270ms forwards;
}


@keyframes fadeInBlock {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}